<section class="section section--list-collections section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="list-collections">
    <div class="container">
        
        <div class="section__title section__title--center">
            <h1 class="section__title-text h2">{{ 'collections.general.all_collections' | t }}</h1>
        </div>

        <div class="collection-list">
            {% case section.settings.grid %}
            {% when 2 %}
                {%- assign grid_item_width = 'u-1/2@tab' -%}
                {%- assign collection_image_size = '550x' -%}
            {% when 3 %}
                {%- assign grid_item_width = 'u-1/3@tab' -%}
                {%- assign collection_image_size = '450x' -%}
            {% when 4 %}
                {%- assign grid_item_width = 'u-1/2@tab u-1/4@desk' -%}
                {%- assign collection_image_size = '350x' -%}
            {% endcase %}

            <div class="collection-list__items">
                <div class="o-layout">
                    {% for collection in collections %}
{%- include 'bold-product' with collection, hide_action: 'skip' -%}
                        {% unless collection.handle == 'frontpage' %}

                            {% if collection.empty? %}
                                {% assign collection_image_url = '' %}
                            {% else %}
                                {% if collection.image %}
                                    {% capture collection_image_url %}{{ collection | img_url: collection_image_size }}{% endcapture %}
                                {% elsif collection.products.first %}
                                    {% capture collection_image_url %}{{ collection.products.first | img_url: collection_image_size }}{% endcapture %}
                                {% endif %}
                            {% endif %}

                            <div class="o-layout__item {{ grid_item_width }}">
                                <a href="{{ collection.url }}" class="collection-list__link">
                                    <div class="collection-list__item">
                                        <div class="collection-list__bg u-bg-cover u-bg-overlay" style="background-image: url({{ collection_image_url }})">
                                        </div>
                                        <div class="collection-list__title u-flex u-flex--middle u-flex--center{% if settings.type_header_underline %} collection-list__title--border{% endif %}">
                                            <h3 class="collection-list__title-text h2">{{ collection.title | escape }}</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endunless %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "List of collections",
    "class": "js-section__list-collections", 
    "settings": [
        {
            "type": "range",
            "id": "grid",
            "label": "Collections per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
        }
    ]
}
{% endschema %}